@import "tailwindcss";

@font-face {
    font-family: Stargaze;
    src: url(/assets/font/Stargaze-Stencil.woff) format("woff");
}

@theme {
    --font-primary: Stargaze, sans-serif;
    --color-primary: #4AB0C3;
    --color-secondary: #062B39;
    --color-accent-1: #F3D9BF;
    --color-accent-2: #C6E6EC;
    --color-text: #FFFFFF;
}

